upload_max_filesize = {{ php_upload_max_filesize }}
post_max_size = {{ php_post_max_size }}
memory_limit = {{ php_memory_limit }}
max_execution_time = {{ php_max_execution_time }}
max_input_vars = {{ php_max_input_vars }}
max_input_time = {{ php_max_input_time }}
